@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Areia movediça:wght@300 & display=swap');


*{
    font-family: 'Quicksand', sem serifa;
    margin: 0px;
}

body h1, body h2{
    font-size: 1.6em;
}

body p{
    font-size: 1.3em;
}

body{
    height: 100%;
}


header{
    height: 80px;
}


header section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}


header #logo span{
    color: #01A7E2;

}

header #menu nav{
    display: inline;
    margin-right: 15px;
}

header #menu nav a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    
}

main #sec1{
    height: 800px;
}


#sec1{
    background-image: url(imagens/img-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sec1 #texto{
    color: white;
    background-color: #03b3a7c0;
    border: 1px solid white;
    border-radius: 4px;
    height: 300px;
    width: 700px;
    font-size: 1.9em;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

#sec1 #texto h1{
    font-size: 2.3em;
    margin-top: 40px;
    
}

#sec1 #texto p{
    font-size: 1.1em;
    margin-bottom: 60px;
    
}

main #sec2{
    height: 750px;
}



main #sec2 #bemvindo{
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#bemvindo h1{
    margin-top: 30px ;
}

#bemvindo p{
    margin-bottom: 13px;
}


#sec2 #card{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    margin-top: 55px;
}

.quartos{
    margin-bottom: 0px;
    height: 400px;
    width: 400px;
    
}

.quartos img{
    width: 400px;
    height: 278px;
    
}


#sec2 #card h2{
    text-align: center;
    margin: 25px 0px;
    padding-bottom: 20px;
    border-bottom: 3px solid #26B790;
}

#sec2 #card a{
    text-decoration: none;
    color: black;
}


#sec3 #titulo{
    text-align: center;
    height: 130px;
}

#sec3 #titulo h2{
    margin-bottom: 28px;
}

#sec4{
    margin-bottom: 100px;
}


#sec4 #titulo2{
    height: 120px;
    text-align: center;
    margin: 25px;
}

#sec4 #titulo2 h1{
    margin: 35px 0px;
}

#sec4 #divsobre{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#sec4 #divsobre .sobre{
    width: 700px;
    height: 180px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;
    margin-bottom: 30px;
    padding: 15px;
    border-left: 3px solid #26B790;

}

#sec4 .img img{
    height: 150px;
    width: 150px;
}

#sec4 .img{
    height: 150px;
    width: 150px;
    border: 0.5px solid black;
}

#sec4 #divsobre .sobre h3{
    padding-bottom: 30px;
}


footer{
    background-color: #49997C;
    margin: 0px auto -10px auto;
    padding: 40px 0px;
    color: white;

}

footer section{
    width: 100%;
    margin: 0px auto;
    padding-bottom: 35px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid #2d5c4b;
}

footer .rodape{
    width: 300px;
    height: 25px;
    padding: 0px 15px 10px 15px;
    margin-top: 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

footer .rodape a{
    text-decoration: none;
    color: white;
}

footer .rodape img{
    width: 35px;
    height: 35px;
    padding-right: 20px;
}

footer #copy{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 10px;
}


@media (max-width: 1610px){
    #sec4 .img img{
        width: 120px;
        height: 120px;
    }

    #sec4 .img{
        width: 120px;
        height: 120px;
    }

    #sec4 #divsobre .sobre{
        width: 420px;
    }

    #sec4 .sobre .texto{
        width: 250px;
        font-size: 0.9em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 0px;
        
    }

    #sec4 .sobre .texto h3{
        font-size: 1.3em;
    }
}


@media (max-width: 1340px){
    footer section .rodape{
        font-size: 0.8em;
        width: 150px;
        margin-bottom: 10px;
    }


    @media (max-width: 1250px){
        #sec2 #card img, #sec2 #card .quartos {
            width: 300px;
            height: 260px;
            font-size: 0.8em;
        }
    }
}

@media (max-width: 1050px){
    #sec4 .img img{
        height: 100px;
        width: 100px;
    }

    #sec4 .img{
        height: 100px;
        width: 100px;
    }

    #sec4 #divsobre .sobre{
        width: 350px;
        font-size: 0.9em;
    }

    #sec4 .sobre .texto{
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 0px;
        
    }

    #sec4 #divsobre .sobre h3{
        padding-bottom: 10px;
        font-size: 1.5em;
    }
}

@media (max-width: 930px){
    #sec2 #card img, #sec2 #card .quartos {
        width: 200px;
        height: 160px;
        font-size: 0.6em;
    }

    main #sec1{
        height: 550px;
    }

    main #sec2{
        height: 550px;
    }
}


@media (max-width: 740px){
    #sec1 #texto{
        height: 300px;
        width: 95vw;
        font-size: 1.4em;
    }

    footer #oculto{
        display: none;
    }
}


@media (max-width: 620px){
    #sec2 #card, #sec2 #card .quartos{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #sec2 #card .quartos{
        height: 200px;
    }

    main #sec2{
        height: 870px;
    }

    footer section .rodape{
        width: 110px;
        font-size: 0.6em;
        margin-bottom: 10px;
    }

    footer #copy{
        font-size: 0.9em;
    }
}


@media (max-width: 470px){
    #sec4 #divsobre .sobre{
        border-left: none;
        border-bottom: 3px solid #26B790;
    }
}

@media (max-width: 440px){

    header #logo, header #menu{
        font-size: 0.7em;
    }

    footer section{
        flex-flow: column nowrap;
        padding-bottom: 10px;      
    }


    footer .rodape{
        width: 95vw;
        height: 25px;
        padding: 0px 15px 10px 15px;
        margin-top: 0px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
    }

    footer #copy{
        font-size: 0.8em;
        height: 5px;
        padding-top: 13px;
    }

    #sec1 #texto{
        font-size: 1.1em;
        height: 230px;
    }
}


@media (max-width: 375px){
    header #logo, header #menu{
        font-size: 0.7em;
    }

    header{
        height: 65px;
    }

    header section{
        padding-top: 20px;
    }

    main #sec1{
        height: 350px;
    }

    #sec1 #texto{
        height: 150px;
        font-size: 1em;
    }


    main #sec2{
        height: 830px;
    }

    main #sec2 #bemvindo{
        height: 140px;
        font-size: 0.8em;
    }
    
    main #sec2 #bemvindo h1{
        padding-bottom: 13px;
    }

    main #sec4 #titulo2{
        font-size: 0.8em;
    }


    #sec4 .img img{
        height: 150px;
        width: 250px;
    }

    #sec4 .img{
        height: 150px;
        width: 250px;
        margin-left: 40px;
        margin-top: 20px;
    }

    #sec4 #divsobre .sobre{
        width: 95vw;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #sec4 .sobre .texto{
        width: 300px;
        font-size: 0.9em;
        line-height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-right: 3px; 
        padding-left: 5px;
        margin-left: 35px; 
    }

    #sec4 #divsobre .sobre h3{
        padding-bottom: 10px;
        font-size: 1.5em;
        text-align: center;
    }

    #sec4{
        margin-bottom: 40px;
    }


    #sec4 #divsobre .sobre{
        height: 100%;
        margin-right: 50px;
        margin-bottom: 30px;
        padding: 10px;
    
    }
}
